@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~@fortawesome/fontawesome-free/css/all.css';
body {
    background: white;
}

.dark body{
    background: #1d2125;
}

.dark input[type="date"] {
    color-scheme:dark;
}